<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>224131468516-0turnt8ibu9u96n8mscgugp0q0rmio33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224131468516-0turnt8ibu9u96n8mscgugp0q0rmio33</string>
	<key>API_KEY</key>
	<string>AIzaSyCQZshtZobwOM4zecQiEAwTqTioG3c2hjU</string>
	<key>GCM_SENDER_ID</key>
	<string>224131468516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yangzhong.cs329e.incognito</string>
	<key>PROJECT_ID</key>
	<string>incognito-ea48b</string>
	<key>STORAGE_BUCKET</key>
	<string>incognito-ea48b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:224131468516:ios:ae3d4569d0c876b0</string>
	<key>DATABASE_URL</key>
	<string>https://incognito-ea48b.firebaseio.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>use photos</string>
	<key>Privacy - Camera Usage Description </key>
	<string>Use camera</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Always use location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use location while needed</string>
</dict>
</plist>
